import React from 'react';
import { shallow } from 'enzyme';

import { {{ properCase home }} } from '../index';

const props = {
  Loading: null,
};


describe('<{{ properCase home }} />', () => {
  let wrapper;
  beforeEach(() => {
    wrapper = shallow(<{{ properCase home }} {...props} />);
  });

  it('should render correctly', () => {
    expect(wrapper).toMatchSnapshot();
  });

  it('should render the loading indicator if loading', () => {
    const Loading = () => <div>test loading...</div>;
    wrapper.setProps({ Loading: <Loading /> });
    expect(wrapper.find(Loading).length).toEqual(1);
  });
});
